@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
		--moods: #1d4ed8;
		--bank-green: #27c522;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
	.green-button {
		@apply px-6 bg-bank-green hover:bg-green-700;
	}
}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	@apply bg-black;
}
::-webkit-scrollbar-thumb {
	@apply bg-bank-green;
	border: 1px solid white;
	border-radius: 3px;
}
/* Header */
header {
	@apply w-full h-auto min-h-[60px] bg-black text-white px-6 sm:px-10 py-6 md:py-0 flex items-center justify-between gap-5 flex-wrap;
}
/* Header nav  */
.header-nav-ul {
	@apply flex gap-5 items-center;
}
.header-nav-ul li {
	@apply relative;
}
.header-sub-menu {
	@apply hover:text-bank-green relative flex items-center h-full;
}
.header-sub-menu.active .header-sub-menu-ul {
	@apply block;
}
.header-sub-menu.active svg {
	@apply rotate-180 transition-all duration-500;
}
.header-sub-menu-ul {
	@apply hidden absolute top-full right-0 bg-black min-w-72 px-6 pb-2 text-white rounded-bl-lg rounded-br-lg;
}
.header-sub-menu-item {
	@apply hover:text-bank-green hover:pl-1 transition-all inline-block duration-300 cursor-pointer w-full py-2;
}
.menu-button {
	@apply flex-1 font-semibold;
}
/* Mobile menu */
.sidemenu-div {
	@apply relative mb-10 mr-5 w-full;
}
.sidemenu-div:hover .sidemenu-drop {
	@apply block;
}
.sidemenu-div:hover .trigger-arrow {
	@apply rotate-180 duration-300 transition-all;
}
.sidemenu-div:hover .sidemenu-trigger {
	@apply text-bank-green;
}
.sidemenu-trigger {
	@apply flex items-center justify-between;
}
.sidemenu-drop {
	@apply hidden p-4 pb-0 absolute z-10 bg-white shadow-md transition-all duration-500;
}
.sidemenu-item {
	@apply hover:text-bank-green hover:pl-[2px] transition-all duration-300 cursor-pointer mb-5 inline-block w-full;
}
/* Client header */
.active-tab {
	@apply border-bank-green font-medium;
}
/* Footer */
footer {
	@apply w-full min-h-24 bg-black text-white p-6 sm:p-10;
}
.footer-content {
	/* @apply flex flex-wrap justify-center sm:justify-between gap-10 mb-10; */
	@apply flex flex-wrap justify-center gap-10 mb-10;
}
.footer-content-box {
	@apply min-w-56 max-w-72 w-full;
}

main {
	@apply w-full min-h-[calc(100vh-60px)];
}
section {
	@apply px-6 sm:px-10 py-6 sm:py-20;
}
.client-section {
	@apply px-3 sm:px-10 py-6;
}
.section-title {
	@apply text-lg sm:text-3xl font-semibold;
}
.page-title {
	@apply text-2xl sm:text-4xl font-bold mb-10;
}
.flex-center-row {
	@apply flex items-center justify-center flex-wrap flex-row;
}
.flex-center-col {
	@apply flex items-center justify-center flex-wrap flex-col;
}
.flex-between-row {
	@apply flex items-center justify-between flex-wrap flex-row;
}
.flex-between-col {
	@apply flex items-center justify-between flex-wrap flex-col;
}
.red {
	@apply opacity-0;
}
.hero {
	@apply w-full min-h-[calc(100vh-60px)] flex flex-wrap items-stretch;
}
.hero-segment {
	@apply w-full flex-1;
}
.my-hero {
	background-color: #00c518;
	background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 20c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 10 10 7zm-43-7c1' fill='%2324ea0d' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.glass {
	background: rgba(0, 0, 0, 0.3);
	backdrop-filter: saturate(90%) blur(5px);
	box-shadow: 0px 0px 7px #ddd;
}
.dark-glass {
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: saturate(90%) blur(5px);
	box-shadow: 0px 0px 7px #ddd;
}
.green-glass {
	background: rgba(0, 255, 0, 0.8);
	backdrop-filter: saturate(90%) blur(5px);
	box-shadow: 0px 0px 7px #ddd;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	.glass {
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
	}
	.green-class {
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
	}
	.dark-class {
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
	}
}
.card-numbers span {
	letter-spacing: 2px;
}
.text-shadow {
	text-shadow: 0px 0px 2px #fff;
}
.auth-section {
	@apply w-full min-h-[80vh] flex items-center justify-center px-3 xs:px-10 py-6 sm:py-10;
}
.auth-form {
	@apply w-full p-6 rounded-sm shadow-md min-h-80 bg-white mb-6;
}
.auth-form-button {
	@apply w-full sm:text-lg;
}
.checkbox:checked input {
	@apply !bg-bank-green;
}

/* Client Accounts */

.account-item {
	@apply bg-white hover:bg-bank-green hover:text-white flex justify-between items-center gap-2 flex-wrap min-h-10 border-l-4 border-black px-2 text-[15px] py-3;
}
.transaction-item {
	@apply bg-white hover:bg-slate-100 min-h-10 border-l-4 border-black hover:border-black px-2 text-sm py-1;
}
.transaction-item p {
	@apply flex flex-wrap justify-between;
}
.transaction-item p span:nth-child(1) {
	@apply font-semibold;
}
/* Loaders and Spinners */
.spinner {
	animation: Spin 1s linear infinite;
}

@keyframes Spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.side-loader {
	@apply relative w-full bg-white overflow-hidden;
}
.side-loader::before {
	@apply absolute bg-gradient-to-r from-transparent to-gray-300 h-full w-full animate-slide-right;
	content: '';
}
.card {
	@apply p-3 sm:p-6 rounded-sm shadow-md;
}
/* Filter Section */
.account-filter-box {
	@apply flex gap-2 sm:gap-4 flex-wrap mb-4 text-sm;
}
/* Form  */
.form-section {
	@apply flex items-start flex-wrap gap-5;
}
.form-section div {
	@apply flex-1 min-w-44;
}
.form-header {
	@apply border-b-2 pb-2 mb-4;
}
.form-title-lg {
	@apply text-2xl sm:text-4xl font-bold mb-2;
}
.form-title-md {
	@apply text-lg sm:text-2xl font-bold;
}
.form-title-sm {
	@apply text-lg font-semibold;
}
.form-input-label {
	@apply text-sm font-medium inline-block;
}
/* Custom shadcn ui styling */
.no-focus {
	@apply focus-visible:!ring-0 focus-visible:!ring-offset-0 focus-visible:!outline-none;
}
.notification-dialog {
	@apply max-w-[calc(100vw-40px)] sm:max-w-md text-center p-5 pt-10 rounded-lg;
}
.rate-control svg[aria-expanded='true'] {
	@apply rotate-180 transition-all duration-300;
}
.rate-control:hover button {
	@apply bg-bank-green !text-white;
}
.rate-control:hover svg {
	@apply text-white;
}
.hover-slide {
	@apply transition-all duration-300;
}
/* Input  */
.number-input-div,
.currency-input-div {
	@apply mb-4 text-sm font-medium;
}
.number-input-div,
.currency-input-div .input-box {
	@apply relative flex items-center;
}
.currencnumber-input-div .input-box .left-span {
	@apply absolute left-3;
}
.number-input-div .input-box .right-span {
	@apply absolute right-1;
}
.number-input-div input {
	@apply pl-6 focus-visible:ring-0 focus-visible:ring-offset-0 disabled:cursor-not-allowed disabled:opacity-50;
}
/*  */
.select-item {
	@apply hover:!bg-green-100 focus:!bg-green-100 data-[selected=true]:!bg-green-100;
}
.select-item span:nth-child(1) {
	@apply w-full flex justify-between items-center gap-5;
}
.payee-item {
	@apply hover:bg-gray-100 hover:cursor-pointer flex gap-2 p-2 border-b text-sm;
}

.calendar-wrapper svg {
	@apply fill-slate-500 mt-[2px];
}
.calendar-input {
	@apply max-w-52 text-sm border h-9 outline-none  !pl-8;
}
/*  Tables */
.table-div {
	@apply overflow-auto h-auto p-0 min-w-96;
}
.table-div::-webkit-scrollbar {
	@apply w-[8px];
}
.table-div::-webkit-scrollbar-track {
	@apply bg-white;
}
.table-div::-webkit-scrollbar-thumb {
	@apply rounded-none;
}
.table-div caption {
	caption-side: bottom;
}
.empty-caption {
	@apply text-black bg-white text-center w-full min-h-24 relative;
}
.caption-message {
	@apply text-black px-0 py-12;
}
.table {
	@apply w-full relative;
}
.table thead {
	@apply sticky top-0 text-white bg-black text-[13px];
}
.table thead td {
	@apply p-2  border-b;
}
.table tbody tr {
	@apply border-b hover:bg-slate-100;
}
.table tbody tr:last-child {
	@apply border-0;
}
.table tbody tr td {
	@apply px-2 py-3 text-sm;
}
/* End Tables */
/* Search Input */
.search-input {
	@apply flex justify-between items-center relative;
}
.search-input-icon {
	@apply absolute right-[5px] bg-white text-[22px] font-thin;
}
.search-input-cancel {
	@apply cursor-pointer text-red-600;
}
/* Select Drop */
.select-trigger {
	/* @apply focus:border-gray-400; */
}

/* Profile Content */
.profile-content {
	@apply overflow-y-auto w-11/12 sm:max-w-2xl;
}
.profile-content::-webkit-scrollbar-track {
	@apply bg-white;
}

.progress-bar {
	@apply rounded-full relative flex items-center justify-center border-8;
}
.pay-transfer-card {
	@apply rounded-sm shadow-md border overflow-hidden;
}
.pay-transfer-card-content {
	@apply p-3 sm:p-6 relative;
}
.green-button {
	@apply hover:border-green-700 hover:text-bank-green hover:border;
}
.input-effects {
	@apply hover:border-b hover:border-b-bank-green focus:border-b-bank-green focus-within:border-b-bank-green;
}
.static-date-range-btn {
	@apply border border-gray-300 px-3 py-1 cursor-pointer text-xs min-w-28 text-center font-medium w-full xs:w-auto hover:bg-bank-green hover:text-white;
}
.add-payee-info {
	@apply absolute top-0 left-5;
}
.add-payee-info:hover .app-payee-info-box {
	@apply block;
}
.app-payee-info-icon {
	@apply w-5 h-5 text-black grid place-items-center rounded-full bg-bank-green text-sm cursor-pointer;
}
.app-payee-info-box {
	@apply hidden bg-white w-44 shadow-md p-5 border text-sm;
}
